{% extends 'base.html' %}
{% block head_title %}
    - Delete article
{% endblock head_title %}
{% block base_content %}
<main class="max-w-2xl mx-auto flex flex-col items-center mt-10">
    <h1 class="subtitle mb-2">Delete Article</h1>
    <p class="text-lg">Are you sure you want to delete "{{article.title}}"</p>
    <form action="{% url 'delete_article' article.id %}" method="POST" class="flex items-center gap-4 mb-6">
        {% csrf_token %}
        <button class="button danger" type="submit">Yes, delete it</button>
        <a class="button secondary" href="{% url 'update_article' article.id %}"> 
            {% include 'svgs/arrow-left.svg' with class="inline-block w-6 h-6 mt-[-2px] mr-2" %} 
            No, take me back
        </a>
    </form>
</main>
{% endblock base_content %}
    
